<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://52.206.157.109:3306/U03Nt0?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">U03Nt0</property>
    <property name="hibernate.connection.password">53688028224</property>
    <property name="connection.pool_size">1</property>
    <mapping package="com.mycompany.scheduler.model"/>
  </session-factory>
</hibernate-configuration>
